@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: clip;
}

.grecaptcha-badge {
  visibility: hidden !important;
}

@layer components {
  .default-link {
    @apply text-black  dark:text-white  border-b border-gray-light-darker2
           dark:border-gray-dark-lighter2  pb-[0.07rem]  transition-[border-color]
           hover:border-black  dark:hover:border-white;
  }

  .git-book-main-container {
    @apply px-[8.4vw]  max-md:px-[4.2vw];
  }

  .button {
    @apply inline-block  rounded-lg  px-6  
           pt-2  pb-[0.65rem]  text-lg  font-semibold 
           transition-colors;
  }

  .button-sm-pad {
    @apply inline-block  rounded-lg  px-6  
           pt-2  pb-[0.51rem]  text-lg  font-semibold 
           transition-colors;
  }
}

@layer utilities {
  @property --headerLightModeBgFirstColor {
    syntax: '<color>';
    initial-value: #ffffff;
    inherits: false;
  }

  @property --headerLightModeBgSecondColor {
    syntax: '<color>';
    initial-value: #ffffff;
    inherits: false;
  }

  @property --headerDarkModeBgFirstColor {
    syntax: '<color>';
    initial-value: #000000;
    inherits: false;
  }

  @property --headerDarkModeBgSecondColor {
    syntax: '<color>';
    initial-value: #000000;
    inherits: false;
  }

  .header-transition {
    transition:
      --headerLightModeBgFirstColor 0.3s linear,
      --headerLightModeBgSecondColor 0.3s linear,
      --headerDarkModeBgFirstColor 0.3s linear,
      --headerDarkModeBgSecondColor 0.3s linear,
      transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
  }
}

@-moz-document url-prefix() {
  .buddha-firefox-shadow {
    filter: drop-shadow(0 0 250px rgba(0, 0, 0, 0.05)) !important;
  }

  .dark .buddha-firefox-shadow {
    filter: none !important;
    fill: rgb(15, 15, 15) !important;
  }
}
