@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --root-font-size: 16;
}

html,
body {
  overflow-x: hidden;
}

@layer components {
  .default-underlined-link {
    @apply text-black  dark:text-white  border-b border-[#EBEBEB]
           dark:border-[#414141]  pb-[0.08rem]  transition-[border-color]
           hover:border-black  dark:hover:border-white;
  }
}

@layer utilities {
  @property --headerLightModeBgFirstColor {
    syntax: '<color>';
    initial-value: #ffffff;
    inherits: false;
  }

  @property --headerLightModeBgSecondColor {
    syntax: '<color>';
    initial-value: #ffffff;
    inherits: false;
  }

  @property --headerDarkModeBgFirstColor {
    syntax: '<color>';
    initial-value: #000000;
    inherits: false;
  }

  @property --headerDarkModeBgSecondColor {
    syntax: '<color>';
    initial-value: #000000;
    inherits: false;
  }

  .header-transition {
    transition:
      --headerLightModeBgFirstColor 0.3s linear,
      --headerLightModeBgSecondColor 0.3s linear,
      --headerDarkModeBgFirstColor 0.3s linear,
      --headerDarkModeBgSecondColor 0.3s linear,
      transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  }
}
